.index body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.question{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: scroll;
}

.main-title{
  position: fixed;
  top: 5%;
  text-align: left;
  font-family: 'Girassol', Arial, Helvetica, sans-serif;
  margin: 0;
  padding-top: 10%;
  padding-left: 5%;
  width: 100%;
  height: 100%;
  font-size: 280%;
  color: rgb(200, 50, 50);
  background-image: url(https://static01.nyt.com/images/2016/05/14/world/asia/20160515CREXPLAINER-slide-CYB7/20160515CREXPLAINER-slide-CYB7-articleLarge.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;  
  z-index: -1;
}

.quesiton-title h1 {
  margin-top: 7%;
  float: left;
  width: 50%;
  height: 100%;
  text-align: left;
  font-family: 'Girassol', Arial, Helvetica, sans-serif;
  font-size: 260%;
}

.question-title img {
  width: 50%;
  float: right;
}

.activity_button button{
  position: fixed;
  bottom: 40%;
  left: 60%;
  background-color: red;
  color: white;
  border: none;
  font-size: 150%;
  padding: 20px 50px;
  cursor: pointer;
  z-index: 10;
}

.activity_button button:hover{
  background-color: rgba(255, 0, 0, 0.6);
  color: white;
}

.topnav {
  position: fixed;
  top: 0;
  background-color: #333;
  width: 100%;
  overflow: hidden;
  z-index: 2;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  z-index: 1;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: rgb(200, 50, 50);
  color: white;
}

.main-video iframe {
  width: 80%;
  height: 500px;
  display: block;
  margin: 0 auto;
}

.thumbnails img {
  height: 80px;
  border: 4px solid #333;
  padding: 1px;
  margin: 0 10px 10px 0;
}

.thumbnails img:hover {
  border: 4px solid #00ccff;
  cursor:pointer;
}

.preview img {
  border: 4px solid #444;
  padding: 1px;
  width: 800px;
}

.video .thumbnails iframe{
  height: 80px;
  border: 4px solid #333;
  padding: 1px;
  margin: 0 10px 10px 0;  
}

.activity_menu ul{
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.activity_start h1 {
  text-align: center;
  font-family: 'Girassol', cursive;
  margin-top: 7%;
}

.activity_menu li {
  margin: 10% 10% 10% 10%;
  width: inherit;
}

.activity_menu li a{
  background: rgb(200, 50, 50);
  text-align: center;
  padding: 3% 1%;
  color: white;
  text-decoration: none;
}